<div class="col-xs-12">
	<div class="form-group">
		<label for="branch">Branch's name</label>
		<input type="text" class="form-control" id="branch" ng-model="ngModel.branch" />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="address1">Address 1</label>
		<input type="text" class="form-control" id="address1" ng-model="ngModel.address1" />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="address2">Address 2</label>
		<input type="text" class="form-control" id="address2" ng-model="ngModel.address2" />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="country">Country</label>
		<select class="form-control" ng-model="ngModel.country" id="country" ng-change="getStates()" ng-options="country as country.description for country in countries track by country._id"></select>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="province">State</label>
		<select class="form-control" ng-model="ngModel.state" id="state" ng-change="getCities()" ng-options="state as state.description for state in states track by state._id"></select>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="city">City</label>
		<select class="form-control" ng-model="ngModel.city" id="city" ng-options="city as city.description for city in cities track by city._id"></select>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="address2">Zipcode</label>
		<input type="text" class="form-control" id="address2" ng-model="ngModel.zipcode" />
	</div>
</div>
