<div class="col-xs-12 col-md-12" ng-if="!validate()">
	<b style="color: red">The address is not filled up correctly, please check it.</b>
</div>
<div class="col-xs-10 col-md-10">
	<div class="form-group">
		<label for="address">Address</label>
		<div class="input-group">
			<input type="text" class="form-control" id="address1" ng-model="ngModel.address1" ng-focus="geoLocate()" ng-disabled="disable" required/> {{ngModel.address1}}
      		<span class="input-group-btn">
        		<button type="button" class="btn btn-default" ng-click="reset()" ng-disabled="disable"><i class="fa fa-times"></i></button>
      		</span>
    	</div>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="city">City</label>
		<input type="text" class="form-control" id="city" ng-model="ngModel.city.description" disabled="disabled" required/>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="province">State</label>
		<input type="text" class="form-control" id="state" ng-model="ngModel.state.description" disabled="disabled" required/>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="address2">Zipcode</label>
		<input type="text" class="form-control" id="zipcode" ng-model="ngModel.zipcode" disabled="disabled" required/>
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<div class="form-group">
		<label for="country">Country</label>
		<input type="text" class="form-control" id="country" ng-model="ngModel.country.description" disabled="disabled" required/>
	</div>
</div>
 
 <div class="col-xs-12 col-md-12" ng-show="showMap">
	 
	    <div id="map"></div>
	    &nbsp;
	    <div id="warnings-panel"></div>
 	
 </div>