# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


node_modules
api/invoices/*
api/serviceorders/*
log/*

*.pdf

*.xlsx

#IGNORAR LOS ARCHIVOS DE VB CODE 
.vscode
api/monthystatement/ms-12-13-2016 04:35.xlsx
.idea/modules.xml

.idea
api/monthystatement/ms-12-13-2016 04:35.xlsx
*.xlsx
mobilecrm.rar
package.json
api/monthystatement/ms-12-13-2016 04:35.xlsx
api/monthystatement/ms-12-13-2016 04:35.xlsx
api/workorders/2016-F4.pdf
mobilecrm-20-10-2017.rar
mobilecrm-25-10-2017-04-20-pm.rar
api/workorders/2016-F4.pdf
api/monthystatement/ms-12-13-2016 04:35.xlsx
public/app/images
api/workorders
api/monthystatement/ms-12-13-2016 04:35.xlsx
*.xlsx
/nbproject