<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-list"></i> <span> Branch</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary update" ng-click="createCSCoordinatorString()"><i class="fa fa-save"></i>&nbsp;<span>Save</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-12">
	<form class="form" id="userForm" name="userForm">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="company">Company</label>
				<select class="form-control" ng-model="branch.company" ng-options="company as company.entity.name for company in companies track by company._id" id="company"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="name">Office</label>
				<input type="text" class="form-control" ng-model="branch.name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="operationsManager">Operations Manager</label>
				<input type="text" class="form-control" ng-model="branch.operationsManager.name" id="operationsManager" placeholder="Operations Manager">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="branch.operationsManager.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Ext)</label>
				<phone-model hide-labels="true" ng-model="branch.operationsManager.extension"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="officeCoordinator">Office Coordinator</label>
				<input type="text" class="form-control" ng-model="branch.officeCoordinator.name" id="officeCoordinator" placeholder="Office Coordinator">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="branch.officeCoordinator.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Ext)</label>
				<phone-model hide-labels="true" ng-model="branch.officeCoordinator.extension"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="branchManager">Branch Manager</label>
				<input type="text" class="form-control" ng-model="branch.branchManager.name" id="branchManager" placeholder="Branch Manager">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="branch.branchManager.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Ext)</label>
				<phone-model hide-labels="true" ng-model="branch.branchManager.extension"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="officeManager">Office Manager</label>
				<input type="text" class="form-control" ng-model="branch.officeManager.name" id="officeManager" placeholder="Office Manager">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="branch.officeManager.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Ext)</label>
				<phone-model hide-labels="true" ng-model="branch.officeManager.extension"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="dispatcher">Dispatcher</label>
				<input type="text" class="form-control" ng-model="branch.dispatcher.name" id="dispatcher" placeholder="Dispatcher">
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="branch.dispatcher.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<div class="form-group">
				<label for="name">O.M. Phone (Ext)</label>
				<phone-model hide-labels="true" ng-model="branch.dispatcher.extension"></phone-model>
			</div>
		</div>
		<!-- Customer Service Coordinator -->

		<div ng-repeat="coord in branch.custServiceCoordinators track by $index">
			<div class="col-xs-12 col-md-4">
				<div class="form-group">
					<label for="dispatcher">Customer Service Coordinator<span ng-if="$index>0"> #{{$index+1}}</span></label>
					<input type="text" class="form-control" ng-model="coord.name" id="CSCoordinator" placeholder="Customer Service Coordinator">
				</div>
			</div>
			<div class="col-xs-12 col-md-4">
				<div class="form-group">
					<label for="name">O.M. Phone (Mobile)</label>
					<phone-model hide-labels="true" ng-model="coord.phone"></phone-model>
				</div>
			</div>
			<div class="col-xs-12 col-md-3">
				<div class="form-group">
					<label for="name">O.M. Phone (Ext)</label>
					<phone-model hide-labels="true" ng-model="coord.ext"></phone-model>
				</div>
			</div>
			<div class="col-xs-12 col-md-1" style="padding-top:10px">
				<!-- <button class="btn btn-sm btn-danger" ng-click="remove($index)"> -->
					<i class="fa fa-times" ng-click="remove($index)" ng-if="branch.custServiceCoordinators.length>1"></i>
				<!-- </button> -->
			</div>
		</div>

		<button class="btn btn-sm btn-primary pull-left" ng-click="add()">
			<i class="fa fa-plus"></i> Add another CS Coordinator
		</button>

		


		<!-- <div class="col-xs-12 col-md-12">
			<table class="table table-striped table-hover" width="100%" style="margin: 0 auto">
				<thead>
					<tr>
						<th width="90%">
							Customer Service Coordinator
						</th>
						<th width="10%">
							<button class="btn btn-sm btn-primary pull-right" ng-click="add()">
								<i class="fa fa-plus"></i> Add another
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="coord in branch.custServiceCoordinators track by $index">
						<td>
							<input type="text" class="form-control" ng-model="coord.name" />
						</td>
						<td>
							<button class="btn btn-sm btn-danger" ng-click="remove($index)">
								<i class="fa fa-times"></i>
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div> -->
		<div class="col-xs-12">
			<h2 class="pull-left"><i class="fa fa-map"></i>&nbsp;Addresses</h2>
			<button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:20px" ng-click="addAddress()"><i class="fa fa-plus"></i></button>
		</div>
		<div class="col-xs-12" ng-repeat="address in branch.addresses track by $index">
			<div class="col-xs-12">
				<button type="button" class="btn btn-sm btn-danger pull-right" style="margin-top:20px;" ng-click="removeAddress($index)"><i class="fa fa-minus"></i></button>
			</div>
			<address-model ng-model="branch.addresses[$index]"></address-model>
		</div>
		<div class="col-xs-12">
			<h2 class="pull-left"><i class="fa fa-phone"></i>&nbsp;Phone List</h2>
			<button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:20px" ng-click="addPhone()"><i class="fa fa-plus"></i></button>
		</div>
		<div class="col-xs-12" ng-repeat="phone in branch.phones track by $index">
			<div class="col-xs-12">
				<button type="button" class="btn btn-sm btn-danger pull-right" style="margin-top:20px;" ng-click="removePhone($index)"><i class="fa fa-minus"></i></button>
			</div>
			<phone-model hide-labels="true" ng-model="branch.phones[$index]"></phone-model>
		</div>
	</form>
</div>
