<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-suitcase"></i>
			<span> Company</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="companyForm" class="btn btn-primary update" ng-click="save()">
				<i class="fa fa-save"></i>&nbsp;
				<span>Save</span>
			</button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="companyForm" name="companyForm" novalidate>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="name">Company Name</label>
				<input type="text" class="form-control" ng-model="company.entity.name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">URL / Website</label>
				<input type="text" class="form-control" ng-model="company.entity.url" id="url" placeholder="URL / Website">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="email"> Accounts Payable Email</label>
				<input type="text" class="form-control" ng-model="company.accountPayableEmail" id="email" placeholder="Accounts Payable Email">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">	
			<div class="form-block">	
				<label>Aditional Mails</label>
				<button  class="btn btn-default" ng-click="editMails()">
					<span>Save & Send to Corporate ({{company.sendCorporateMails.length ||0}})</span>
				</button>

			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="email"> Taxes</label>
				<input type="number" class="form-control" ng-model="company.taxes" id="taxes" placeholder="Taxes">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label for="address"></label>
				<address-model id="address" ng-model="company.address"></address-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<h1>Invoice Sequence</h1>
		</div>
		<div class="col-xs-10 col-xs-10">
			<h3>Service Order and Work Order</h3>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="code"> Code</label>
				<input type="text" class="form-control" ng-model="company.seqCode" id="seqCode" placeholder="Sequence Code (eg MMxxxxxx)">
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="mask"> Mask</label>
				<input type="number" class="form-control" ng-model="company.seqMask" id="seqMask" placeholder="Digits (How many digits do you want)">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqStart"> Starting point</label>
				<input type="number" class="form-control" ng-model="company.seqStart" id="seqStart" placeholder="Starting Point">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqNumber"> Actual Number</label>
				<input type="number" class="form-control" ng-model="company.seqNumber" id="seqNumber" placeholder="Actual Number" ng-disabled="userData.role._id != 1">
			</div>
		</div>
		<div class="col-xs-10 col-xs-10">
			<h3>Delivery</h3>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="code"> Code</label>
				<input type="text" class="form-control" ng-model="company.seqCodeDor" id="seqCodeDor" placeholder="Sequence Code (eg MMxxxxxx)">
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="mask"> Mask</label>
				<input type="number" class="form-control" ng-model="company.seqMaskDor" id="seqMaskDor" placeholder="Digits (How many digits do you want)">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqStart"> Starting point</label>
				<input type="number" class="form-control" ng-model="company.seqStartDor" id="seqStartDor" placeholder="Starting Point">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqNumber"> Actual Number</label>
				<input type="number" class="form-control" ng-model="company.seqNumberDor" id="seqNumberDor" placeholder="Actual Number" ng-disabled="userData.role._id != 1">
			</div>
		</div>
		<div class="col-xs-10 col-xs-10">
			<h3>Set Up & Tear Down</h3>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="code"> Code</label>
				<input type="text" class="form-control" ng-model="company.seqCodeTor" id="seqCodeTor" placeholder="Sequence Code (eg MMxxxxxx)">
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="mask"> Mask</label>
				<input type="number" class="form-control" ng-model="company.seqMaskTor" id="seqMaskTor" placeholder="Digits (How many digits do you want)">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqStart"> Starting point</label>
				<input type="number" class="form-control" ng-model="company.seqStartTor" id="seqStartTor" placeholder="Starting Point">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqNumber"> Actual Number</label>
				<input type="number" class="form-control" ng-model="company.seqNumberTor" id="seqNumberTor" placeholder="Actual Number" ng-disabled="userData.role._id != 1">
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<h1>Delivery & Freight</h1>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="initialCost">Initial Cost</label>
				<input type="number" class="form-control" ng-model="company.initialCost" ng-disabled="company.perHours" id="initialCost"
				 placeholder="Initial Cost">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="costPerMile">Cost per Mile</label>
				<input type="number" class="form-control" ng-model="company.costPerMile" ng-disabled="company.perHours" id="costPerMile"
				 placeholder="Cost per Mile" ng-disabled="userData.role._id != 1">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="initialMile">Initial Mile</label>
				<input type="number" class="form-control" ng-model="company.initialMile" ng-disabled="company.perHours" id="initialMile"
				 placeholder="Initial Mile">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">

			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<input type="checkbox" ng-init="checkStatus=false" ng-model="company.perHours" ng-click="checkedHours(company.perHours)"
				 style="cursor: pointer">
				<label for="initialMile">Cost Per Hours</label><br/>
				<label for="initialMile">Big Truck</label>
				<input type="number" class="form-control" ng-model="company.costPerHours" ng-disabled="!company.perHours" id="costPerHours"
				 placeholder="Big Truck">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="initialMile" style="margin-top: 27px">Small Truck</label>
				<input type="number" style="margin-top: 0px" class="form-control" ng-model="company.smallTruck" ng-disabled="!company.perHours" id="costPerHours"
				 placeholder="Small Truck">
			</div>
		</div>
		<br /><br />
		<div class="col-xs-12 col-md-12">
			<h1>Quotes & Estimates</h1>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="codeQuotes"> Code</label>
				<input type="text" class="form-control" ng-model="company.seqCodeQuotes" id="seqCodeQuotes" placeholder="Sequence Code (eg MMxxxxxx)">
			</div>
		</div>
		<div class="col-xs-12 col-md-12">
			<div class="form-group">
				<label for="maskQuotes"> Mask</label>
				<input type="number" class="form-control" ng-model="company.seqMaskQuotes" id="seqMaskQuotes" placeholder="Digits (How many digits do you want)">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqStartQuotes"> Starting point</label>
				<input type="number" class="form-control" ng-model="company.seqStartQuotes" id="seqStartQuotes" placeholder="Starting Point">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="seqNumberQuotes"> Actual Number</label>
				<input type="number" class="form-control" ng-model="company.seqNumberQuotes" id="seqNumberQuotes" placeholder="Actual Number" ng-disabled="userData.role._id != 1">
			</div>
		</div>
	</form>
</div>