<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-suitcase"></i> <span> Company</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary update" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Save</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="userForm" name="userForm">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="name">Company Name</label>
				<input type="text" class="form-control" ng-model="company.entity.name" id="name" placeholder="Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">URL / Website</label>
				<input type="text" class="form-control" ng-model="company.entity.url" id="url" placeholder="URL / Website">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<label for="address">Address</label>
				<address-model id="address" ng-model="company.address" ></address-model>
			</div>
		</div>
	</form>
</div>
