<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-area-chart"></i> <span> Mobile One CRM Dashboard</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<uib-accordion>
			<uib-accordion-group class="panel-default" is-open="filter.isOpen">
				<uib-accordion-heading>
					<i class='fa fa-filter'></i> &nbsp; Advance Search
				</uib-accordion-heading>
				<form class="form" id="reportForm" name="reportForm" ng-submit="search()">
					<div class="row">
						<div class="col-xs-6">
							<div class="col-xs-6">
								<div class="form-group">
									<label for="fromDate">From:</label>
									<sc-datepicker ng-model="filter.fromDate"></sc-datepicker>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="fromDate">To:</label>
									<sc-datepicker ng-model="filter.toDate"></sc-datepicker>
								</div>
							</div>
						</div>
						<div class="col-xs-6" ng-if="!isClient">
							<div class="col-xs-6">
								<div class="form-group">
									<label for="client">Client:</label>
									<select class="form-control" ng-model="filter.client" ng-options="o as o.entity.fullName for o in clientList track by o._id"
									 ng-disabled="isClient"></select>
								</div>
							</div>
							<div class="col-xs-6">
								<div class="form-group">
									<label for="status">Status:</label>
									<select class="form-control" ng-model="filter.status" ng-options="o as o.description for o in statusList track by o._id"></select>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row">
						<div class="col-xs-12">
							<div class="col-xs-6">
								<div class="form-group">
								    <label for="status">Status:</label>
								    <select class="form-control" ng-model="filter.status" ng-options="o as o.description for o in statusList track by o._id"></select>
						  		</div>
				  			</div>
				  			<div class="col-xs-6">
								<div class="form-group">
								    <label for="client">Client:</label>
								    <select class="form-control" ng-model="filter.client" ng-options="o as o.entity.fullName for o in clientList track by o._id" ng-disabled="isClient"></select>
						  		</div>
				  			</div>
				  		</div>
			  		</div>
			  		<div class="row" ng-if="!isClient">
						<div class="col-xs-12">
							<div class="col-xs-6">
								<div class="form-group">
								    <label for="status">Company:</label>
								    <select class="form-control" ng-model="filter.company" ng-options="o as o.entity.name for o in companyList track by o._id" ng-disabled="isClient" ng-change="setBranches(filter.company)"></select>
						  		</div>
				  			</div>
				  			<div class="col-xs-6">
								<div class="form-group">
								    <label for="client">Branch:</label>
								    <select class="form-control" ng-model="filter.branch" ng-options="o as o.name for o in branchList track by o._id" ng-disabled="isClient"></select>
						  		</div>
				  			</div>
				  		</div>
			  		</div> -->
					<div class="row">
						<div class="col-xs-12">
							<div class="col-xs-3">
								<div class="form-group">
									<label for="status">Company:</label>
									<select class="form-control" ng-model="filter.company" ng-options="o as o.entity.name for o in companyList track by o._id"
									 ng-disabled="isClient" ng-change="setBranches(filter.company)"></select>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="form-group">
									<label for="client">Branch:</label>
									<select class="form-control" ng-model="filter.branch" ng-options="o as o.name for o in branchList track by o._id" ng-disabled="isClient"></select>
								</div>
							</div>
							<div class="col-xs-3">
								<div class="form-group">
									<label for="year">Invoice Type:</label>
									<select class="form-control" name="type" ng-model="filter.invoiceType" ng-options="o._id as o.description for o in invoiceTypeList"></select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<!-- 	<div class="col-xs-12">
							<div class="form-group">
							    <label>Filter by:</label>
					  		</div>
				  		</div> -->
						<div class="col-xs-12">
							<div class="form-group">
								<label>Filter by:</label>
								<div class="checkbox">
									<label>
								    	<input type="checkbox" ng-model="filter.withPO"> With PO Number
									</label>
								</div>
								<div class="checkbox">
									<label>
								    	<input type="checkbox" ng-model="filter.pendingPO"> Without PO Number
									</label>
								</div>
								<div class="checkbox">
									<label>
								    	<input type="checkbox" ng-model="filter.partsFromTheYard"> Parts from the yard
									</label>
								</div>
								<div class="checkbox">
									<label>
								    	<input type="checkbox" ng-model="filter.clientResponsibleCharges"> Customer Responsible for Charges
									</label>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
							<button type="submit" class="btn btn-default pull-right"><i class="fa fa-search"></i>&nbsp;Search</button>
						</div>

					</div>
				</form>
			</uib-accordion-group>
		</uib-accordion>
	</div>

</div>
<div class="row">
	<div class="col-md-6">
		<ul class="nav nav-pills">
			<li role="presentation" ng-class="{ active: getActiveTab('w') }" ng-click="quickFilter('w')"><a>Last Week</a></li>
			<li role="presentation" ng-class="{ active: getActiveTab('m') }" ng-click="quickFilter('m')"
			><a>Last Month</a></li>
			<li role="presentation" ng-class="{ active: getActiveTab('q') }" ng-click="quickFilter('q')"
			><a>Last Quarter</a></li>
			 <li role="presentation" ng-class="{ active: getActiveTab('y') }" ng-click="quickFilter('y')"
			><a>Last Year</a></li>
		</ul>
	</div>
	<div class="col-md-6">
		<ul class="nav nav-pills pull-right">
			<li ng-click="changeValueType('value')" ng-class="{ active: getValueType('value') }"><a>Amount</a></li>
			<li ng-click="changeValueType('count')" ng-class="{ active: getValueType('count') }"><a>Count</a></li>
		</ul>
	</div>
	
</div>
<br>
<div class="row">

	<div class="col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading" ng-focus="showDetail()">
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-dollar fa-5x"></i>
					</div>
					<div class="col-xs-10 text-right">
						<div style="font-size:32px">
							US {{sumPendingToPay | currency}}
						</div>
						<div>
							{{countPendingToPay}} Invoices Pending to Pay
						</div>
					</div>
				</div>
				
			</div>
			<div class="panel-body" ng-show="showDetail">
				<div class="row">
					
					<div ng-repeat="service in pendingByService" class="col-md-6" >
						<p ><label>{{service._id.description}} ({{service.count}}):</label> {{service.total | currency}}</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a href="" ng-click="showDetails()" ng-if="!showDetail" >Show Details</a>
				<a href="" ng-click="hideDetails()" ng-if="showDetail" >Hide Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-info">
			<div class="panel-heading" ng-focus="showDetail2()">
				<div class="row">
					<div class="col-xs-2">
						<i class="fa fa-money fa-5x"></i>
					</div>
					<div class="col-xs-10 text-right">
						<div style="font-size:32px">
							US {{sumPaid | currency}}
						</div>
						<div>
							{{countPaid}} Invoices Paid <strong>Last {{getPeriodDescription(selectedTab)}}</strong>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="showDetail2">
				<div class="row">
					
					<div ng-repeat="service in paidByService" class="col-md-6" >
						<p ><label>{{service._id.description}} ({{service.count}}):</label> {{service.total | currency}}</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a href="" ng-click="showDetails2()" ng-if="!showDetail2" >Show Details</a>
				<a href="" ng-click="hideDetails2()" ng-if="showDetail2" >Hide Details</a>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading" ng-focus="showDetail3()">
				<div class="row">
					<div class="col-xs-3">
						<i class="fa fa-truck fa-5x"></i>
					</div>
					<div class="col-xs-9 text-right">
						<div style="font-size:36px">
							US {{sumNewServices | currency}}
						</div>
						<div>
							{{countNewServices}} New Services
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body" ng-show="showDetail3">
				<div class="row">
					
					<div  class="col-md-6" >
						<p ><label>Service Order ({{newServices.sor.count}}):</label> {{newServices.sor.total | currency}}</p>
					</div>
					<div  class="col-md-6" >
						<p ><label>Work Order ({{newServices.wor.count}}):</label> {{newServices.wor.total | currency}}</p>
					</div>
					<div  class="col-md-6" >
						<p ><label>Delivery Order ({{newServices.dor.count}}):</label> {{newServices.dor.total | currency}}</p>
					</div>
					<div  class="col-md-6" >
						<p ><label>Home & Bussiness ({{newServices.hor.count}}):</label> {{newServices.hor.total | currency}}</p>
					</div>
					<div  class="col-md-6" >
						<p ><label>Setup & Teardown ({{newServices.tor.count}}):</label> {{newServices.tor.total | currency}}</p>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<a href="" ng-click="showDetails3()" ng-if="!showDetail3" >Show Details</a>
				<a href="" ng-click="hideDetails3()" ng-if="showDetail3" >Hide Details</a>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3><i class="fa fa-money"></i> Invoices by Service Type <i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="invoiceLoading"></i></h3>
			</div>
			<div class="panel-body">
				<div id="container" ng-show="!invoiceLoading"></div>
				
			</div>
			
		</div>
		
	</div>
	<div class="col-md-4"> 
		<div class="panel panel-default">
			<div class="panel-heading "><h3><i class="fa fa-check-tasks"></i> Work Orders<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="workOrderLoading"></i></h3></div>
			<div id="pie_container2" class="panel-body" ng-show="!workOrderLoading"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3><i class="fa fa-building"></i> Invoices by Company<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="invoiceCLoading"></i></h3>
			</div>
			<div id="container_company" class="panel-body" ng-show="!invoiceCLoading"></div>
			
		</div>
		
	</div>
	<div class="col-md-4"> 
		<div class="panel panel-default">
			<div class="panel-heading "><h3><i class="fa fa-check-square"></i> Service Orders<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="serviceLoading"></i></h3></div>
			<div id="pie_container1" class="panel-body" ng-show="!serviceLoading" ></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<div class="panel panel-danger">
			<div class="panel-heading">
				<h3><i class="fa fa-money"></i> Open Services by Days<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="invoiceCLoading"></i></h3>
			</div>
			<div id="container_opendays" class="panel-body" ng-show="!invoiceCLoading"></div>
			
		</div>
		
	</div>
	<div class="col-md-4"> 
		<div class="panel panel-default">
			<div class="panel-heading "><h3><i class="fa fa-truck"></i> Delivery Orders<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="deliveryLoading"></i></h3></div>
			<div id="pie_container3" class="panel-body" ng-show="!deliveryLoading"></div>
		</div>
	</div>
</div>
<div class="row">

	<div class="col-md-4"> 
		<div class="panel panel-default">
			<div class="panel-heading "><h3><i class="fa fa-cogs"></i> Setup & Teardown<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="setUpLoading"></i></h3></div>
			<div id="pie_container4" class="panel-body" ng-show="!setUpLoading"></div>
		</div>
	</div>
	<div class="col-md-4"> 
		<div class="panel panel-default">
			<div class="panel-heading "><h3><i class="fa fa-home"></i> Home & Business<i class="fa fa-spinner fa-spin pull-right text-center" style="font-size:24px" ng-show="homeBussinessLoading"></i></h3></div>
			<div id="pie_container5" class="panel-body" ng-show="!homeBussinessLoading"></div>
		</div>
	</div>
</div>