<div class="row">
    <div class="col-xs-12">
        <h1 class="pull-left">
            <i class="fa fa-lg fa-truck"></i> <span>Delivery Orders</span>
        </h1>
        <div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
            <back-button></back-button>
            <button type="button" class="btn btn-primary new" ng-click="createNew()"  ng-if="userData.getAccessOfView('/serviceOrder', true).write">
                <i class="fa fa-plus"></i>&nbsp;<span>Create New</span>
            </button>
        </div>
        <hr />
    </div>
</div>
<div class="row">
	<div class="col-xs-13">
		<list clase="DeliveryOrder" fields="fields" showid="false" search-fields="search" filter-field="filter" list="list" filter-date="filterDate" excel-title="'Service Order Report'"></list>
	</div>
</div>
