<div class="modal-header modal-header-color dialog-header-confirm">
  <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">
		Emails:
  </h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<table class="table">
				<tr>
					<th style="width: 80%">
						Email
					</th>
					<th>
						<button class="btn btn-sm btn-primary" ng-click="add()">
							<i class="fa fa-plus"></i>
						</button>
					</th>
				</tr>
				<tr ng-repeat="email in emails track by $index">
					<td>
						<input type="text" ng-model="emails[$index]" class="form-control" />
					</td>
					<td>
						<button class="btn btn-sm btn-danger" ng-click="remove($index)">
							<i class="fa fa-times"></i>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="send()">Send</button>
	<button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>