<div class="modal-header modal-header-color dialog-header-confirm">
  <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">
		Choose:
  </h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-12">
			<label>Email</label>
			<input type="email" class="form-control" ng-model="email">
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" type="button" ng-click="send()">Send</button>
  <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>