<div class="container-fluid">
	
	<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-money"></i> <span> Invoice</span>
		</h1>
		<div class="btn-group pull-left" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary update btn-sm" ng-click="save()">
				<i class="fa fa-save"></i>&nbsp;<span>Save</span>
			</button>
			<button type="submit" form="userForm" class="btn btn-default update btn-sm" ng-click="saveBranch()">
				<i class="fa fa-save"></i>&nbsp;<span>Save and Send to the Branch</span>
			</button>
			<button type="submit" form="userForm" class="btn btn-default update btn-sm" ng-click="saveCompany()">
				<i class="fa fa-save"></i>&nbsp;<span>Save & Send to the Corporate</span>
			</button>
			<button type="submit" form="userForm" class="btn btn-default update btn-sm" ng-click="saveSend()">
				<i class="fa fa-save"></i>&nbsp;<span>Save & Send</span>
			</button>
			<button type="button" class="btn btn-danger btn-sm" ng-click="delete()" ng-if="invoice._id && userData.role._id == 1">
				<i class="fa fa-trash"></i>&nbsp;<span>Delete</span>
			</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="export()" ng-if="invoice._id">
				<i class="fa fa-download"></i>&nbsp;<span>Download</span>
			</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="send()" ng-if="invoice._id">
				<i class="fa fa-paper-plane"></i>&nbsp;<span>Send</span>
			</button>
			<button type="button" class="btn btn-default btn-sm" ng-click="cancel()">
				<i class="fa fa-return"></i>&nbsp;<span>Go Back</span>
			</button>
		</div>
		<hr />
	</div>
</div>
<form class="form" id="userForm" name="userForm" novalidate>
	<div class="row" style="margin-top:50px">
		<div class="col-xs-12">
			<div class="col-sm-4">
				<div class="col-xs-12 pull-left">
					<div class="form-group">
						<label for="Client">Import from Service Order</label>
						<entitypicker ng-model="params.serviceOrder" ng-change="setInvoice(params.serviceOrder)" ws-class="wsClassOS" ws-fields="wsFieldsOS" disable="userData.role._id != 1" ws-filter="filterOS"></entitypicker>
					</div>
				</div>
				<div class="col-xs-12 pull-left">
					<div class="form-group">
						<label for="Client">...Or Import from Work Order</label>
						<entitypicker ng-model="params.workOrder" ng-change="setInvoice(params.workOrder)" ws-class="wsClassWO" ws-fields="wsFieldsWO" disable="userData.role._id != 1" ws-filter="filterWO"></entitypicker>
					</div>
				</div>
				<div class="col-xs-12 pull-left">
					<div class="form-group">
						<label for="Client">Client</label>
						<entitypicker ng-model="invoice.client" ng-change="clientChanged(invoice.client)" ws-class="wsClass" ws-fields="wsFields" ws-filter="filterC" disable="userData.role._id != 1"></entitypicker>
					</div>
				</div>
				<div class="col-xs-12 pull-left" ng-show="invoice.client._id">
					<div class="panel panel-default">
						<div class="panel-heading">{{invoice.client.entity.fullName}}&nbsp;-&nbsp;{{invoice.client.company.entity.name}}</div>
						<div class="panel-body">
							<p class="col-xs-12 text-left">
								<b>{{invoice.client.branch.name}}</b>
								<br/>
								<p class="col-xs-12 text-left" ng-repeat="address in invoice.client.branch.addresses track by $index">
									<i class="fa fa-map"></i>&nbsp;{{ address.address1 }},&nbsp;{{ address.city.description }},&nbsp;{{ address.state.description }},&nbsp;{{ address.country.description }}
								</p>
							</p>
							<p class="col-xs-12 text-left" ng-repeat="phone in invoice.client.branch.phones track by $index">
								<i class="fa fa-phone"></i>&nbsp;{{ phone.number }}
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Company</label>
							<select class="form-control" ng-model="invoice.client.company" ng-class="isChanged('company')" ng-change="changed('company'); companyChanged(invoice.client.company)" ng-options="company as company.entity.name for company in listCompany track by company._id" ng-disabled="isDisabled() || userData.role._id != 1 || !invoice.client._id"></select>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Customer</label>
							<input type="text" class="form-control" ng-model="invoice.customer" ng-class="isChanged('customer')" ng-change="changed('customer')" ng-disabled="isDisabled()">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Service order #</label>
							<input type="text" class="form-control" ng-model="invoice.sor" ng-class="isChanged('sor')" ng-change="changed('sor')" ng-disabled="isDisabled() || invoice.wor">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Work order #</label>
							<input type="text" class="form-control" ng-model="invoice.wor" ng-class="isChanged('wor')" ng-change="changed('wor')" ng-disabled="isDisabled() || invoice.sor">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Invoice #</label>
							<input type="text" class="form-control" ng-model="invoice.invoiceNumber" ng-class="isChanged('invoiceNumber')" ng-change="changed('invoiceNumber')" ng-disabled="isDisabled()">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="pono">PO #</label>
							<input type="text" class="form-control" ng-model="invoice.pono" ng-class="isChanged('pono')" ng-change="changed('pono')" ng-disabled="isDisabled()">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="pono">Serial #</label>
							<input type="text" class="form-control" ng-model="invoice.unitno" ng-class="isChanged('unitno')" ng-change="changed('unitno')" ng-disabled="isDisabled()">
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="pono">Status</label>
							<select class="form-control" ng-model="invoice.status" ng-class="isChanged('status')" ng-change="changed('status')" ng-options="status as status.description for status in listStatus track by status._id" ng-disabled="isDisabled() || userData.role._id != 1"></select>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="col-xs-12 pull-right">
						<div class="form-group">
							<label for="date">Date</label>
							<sc-datepicker ng-model="invoice.date" ng-class="isChanged('date')" ng-change="changed('date')" ng-disabled="isDisabled()"></sc-datepicker>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-striped table-hover" width="100%" style="margin: 0 auto">
				<thead>
					<tr>
						<th width="20%">
							Item
						</th>
						<th width="10%">
							Code
						</th>
						<th width="20%">
							Description
						</th>
						<th width="10%">
							Quantity
						</th>
						<th width="15%">
							Price
						</th>
						<th width="15%">
							Total
						</th>
						<th width="10%">
							<button type="button" class="btn btn-sm btn-primary update" ng-click="addItem()">
								<i class="fa fa-plus"></i>
							</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in invoice.items track by $index">
						<td>
							<entitypicker ng-model="invoice.items[$index]" ws-class="wsClassItem" ws-fields="wsFieldsItem" ws-filter="wsFilterItem" ws-label="'description'" disable="!invoice.client._id" order-by="'code'"></entitypicker>
						</td>
						<td>
							<input type="text" class="form-control" ng-model="item.code"  ng-disabled="isDisabled()">
						</td>
						<td>
							<input type="text" class="form-control" ng-model="item.description"  ng-disabled="isDisabled()">
						</td>
						<td>
							<input type="number" class="form-control" ng-model="item.quantity"  ng-disabled="isDisabled()">
						</td>
						<td>
							<input type="number" class="form-control" ng-model="item.price"  ng-disabled="isDisabled()">
						</td>
						<td>
							{{item.getTotalPrice() | currency }}
						</td>
						<td>
							<button type="button" class="btn btn-sm btn-danger update" ng-click="removeItem($index)">
								<i class="fa fa-times"></i>
							</button>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="3">
							<span class="pull-right">
								Total
							</span>
						</th>
						<th colspan="4">
							<span class="pull-left">
								{{invoice.getTotal() | currency}}
							</span>
						</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-sm-4 pull-left">
					<div class="form-group">
						<label for="comment">Project Description</label>
						<textarea id="comment" ng-model="invoice.comment" class="form-control">
						</textarea> 
					</div>
				</div>
		</div>
	</div>
</form>
</div>
