<div class="login col-xs-12 col-md-4 col-md-offset-4">
	<div class="logo" style="margin: 0 auto;">
			<img style="width:100%" src="../images/mobileone2.png" />
	</div>
	<form class="form" style="margin-top: 20px">
			<div class="form-group">
					<input type="text" class="form-control" id="username" placeholder="Email" ng-model="userData.account.email">
			</div>
			<div class="form-group">
					<input type="password" class="form-control" id="password" placeholder="Password" ng-model="userData.account.password">
			</div>
			<a ng-click="forgetPassword()">Forgot Password?</a>
			<hr style="margin-top:20px;"/>
			<button type="submit" class="btn btn-primary pull-right" ng-click="login()">Log In</button>
	</form>
</div>
