<div class="modal-header modal-header-color dialog-header-confirm">
  <button type="button" class="close" ng-click="close()"><i class="fa fa-times"></i></button>
  <h4 class="modal-title">
		Photo:
  </h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-xs-2">
			<button class="btn btn-sm btn-primary" ng-click="previous()">
				<i class="fa fa-chevron-left"></i>
			</button>
		</div>
		<div class="col-xs-8">
			<img ng-src="{{photos[index]}}" style="width:100%"/>
		</div>
		<div class="col-xs-2">
			<button class="btn btn-sm btn-primary" ng-click="next()">
				<i class="fa fa-chevron-right"></i>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<b>{{ index + 1 }}&nbsp;/&nbsp;{{photos.length}}</b>
		</div>
	</div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" type="button" ng-click="close()">Close</button>
</div>