<form class="form" id="itemCollectionForm" name="itemCollectionForm">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="pull-left">
				<i class="fa fa-lg fa-list"></i> <span> Profit Report</span>
			</h1>
			<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
				<back-button></back-button>
			</div>
			<hr />
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10">
			<div class="col-xs-12">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th width="20%">
								Invoice
							</th>
							<th width="10%">
								Document No. (SOR, WOR)
							</th>
							<th width="20%">
								Client
							</th>
							<th width="10%">
								Company
							</th>
							<th width="10%">
								Branch
							</th>
							<th width="10%">
								Total
							</th>
							<th width="10%">
								Expenses
							</th>
							<th width="10%">
								Profit
							</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="invoice in invoices track by $index">
							<td>
								{{invoice.invoiceNumber}}
							</td>
							<td>
								{{invoice.document}}
							</td>
							<td>
								{{invoice.client}}
							</td>
							<td>
								{{invoice.company}}
							</td>
							<td>
								{{invoice.branch}}
							</td>
							<td>
								{{invoice.totalIncome|currency:2}}
							</td>
							<td>
								{{invoice.totaExpenses|currency:2}}
							</td>
							<td>
								{{(invoice.totalIncome - invoice.totaExpenses)|currency:2}}
							</td>
						</tr>
						<tr>
							<td colspan="5" class="text-right">
								<b>Totals</b>
							</td>
							<td>
								<b>{{getTotalIncome()|currency:2}}</b>
							</td>
							<td>
								<b>{{getTotalExpenses()|currency:2}}</b>
							</td>
							<td>
								<b>{{getTotalProfit()|currency:2}}</b>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</form>