<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
				<i class="fa fa-lg fa-list"></i> <span> Role Options</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<back-button></back-button>
			<button type="button" class="btn btn-default" ng-click="addOption()"><i class="fa fa-plus"></i>&nbsp;<span>Add Option</span></button>
			<button type="submit" form="userForm" class="btn btn-primary" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Save</span></button>
		</div>
		<hr />
	</div>
</div>
<div class="row">
  <div class="col-xs-12">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{ active: selectedTab == role.description }" ng-repeat="role in roles track by $index" ng-click="selectTab(role)">
				<a>{{role.description}}</a>
			</li>
		</ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
		<table class="table">
			<thead>
				<tr>
					<th class="col-xs-1">
						Submenu
					</th>
					<th class="col-xs-3">
						Option
					</th>
					<th>
						Read
					</th>
					<th>
						Write
					</th>
					<th>
						Delete
					</th>
					<th>
						Update
					</th>
					<th class="col-xs-1">
						Sort Menu
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rOption in roleOptions[selectedId] | orderBy:'sort' track by $index">
					<td>
						<input type="checkbox" ng-model="rOption.submenu" />
						<a class="" ng-show="rOption.submenu" ng-click="showOptions(rOption)">{{rOption.options.length ||0}} Options</a>
						
					</td>
					<td>
						<ui-select ng-model="rOption.option" theme="bootstrap">
			            	<ui-select-match placeholder="Select the option you want on the list...">
			            		{{$select.selected.description}}
			            	</ui-select-match>
			            	<ui-select-choices repeat="o in options | filter: $select.search track by o._id">
		              			<div ng-bind-html="o.description | highlight: $select.search"></div>
			              		<small ng-bind-html="o.url | highlight: $select.search"></small>
			            	</ui-select-choices>
			          	</ui-select>
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.read" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.write" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.delete" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.update" />
					</td>
					<td>
						<span ng-show="!rOption.edition">{{rOption.sort}}</span>
						<input type="number" class="form-control" ng-model="rOption.sort2" ng-show="rOption.edition" />
					</td>
					<td>
						<button type="button" class="btn btn-sm btn-default" ng-click="editOrder(rOption)" ng-show="!rOption.edition" >
							<i class="fa fa-pencil" ></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" ng-click="setOrder(rOption)" ng-show="rOption.edition" >
							<i class="fa fa-check" ></i>
						</button>
						<button type="button" class="btn btn-sm btn-danger" ng-click="removeOption($index,rOption)">
							<i class="fa fa-times"></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" ng-click="openExceptions(rOption)" >
							Exceptions <span class="label label-danger" >	{{rOption.exceptions || 0}}</span>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
  </div>
</div>