<div class="modal-header modal-header-color dialog-header-confirm">
	<button type="button" class="close" ng-click="close()">
		<i class="fa fa-times"></i>
	</button>
	<h4 class="modal-title">
		Submenu Options:
	</h4>
	<button type="button" class="btn btn-default" ng-click="addOption()"><i class="fa fa-plus"></i>&nbsp;<span>Add Option</span></button>
</div>
<div class="modal-body">
	<div class="row">
		<table class="table">
			<thead>
				<tr>
					<th class="col-xs-3">
						Option
					</th>
					<th>
						Read
					</th>
					<th>
						Write
					</th>
					<th>
						Delete
					</th>
					<th>
						Update
					</th>
					<th class="col-xs-1">
						Sort Menu
					</th>
					<th>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="rOption in roleOption.options | orderBy:'sort' track by $index">
					<td>
						<ui-select ng-model="rOption.option" theme="bootstrap">
			            	<ui-select-match placeholder="Select the option you want on the list...">
			            		{{$select.selected.description}}
			            	</ui-select-match>
			            	<ui-select-choices repeat="o in options | filter: $select.search track by o._id">
		              			<div ng-bind-html="o.description | highlight: $select.search"></div>
			              		<small ng-bind-html="o.url | highlight: $select.search"></small>
			            	</ui-select-choices>
			          	</ui-select>
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.read" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.write" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.delete" />
					</td>
					<td>
						<input type="checkbox" ng-model="rOption.update" />
					</td>
					<td>
						<span ng-show="!rOption.edition">{{rOption.sort}}</span>
						<input type="number" class="form-control" ng-model="rOption.sort2" ng-show="rOption.edition" />
					</td>
					<td>
						<button type="button" class="btn btn-sm btn-default" ng-click="editOrder(rOption)" ng-show="!rOption.edition" >
							<i class="fa fa-pencil" ></i>
						</button>
						<button type="button" class="btn btn-sm btn-default" ng-click="setOrder(rOption)" ng-show="rOption.edition" >
							<i class="fa fa-check" ></i>
						</button>
						<button type="button" class="btn btn-sm btn-danger" ng-click="removeOption($index)">
							<i class="fa fa-times"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="assign()">
		<i class="fa fa-disk"></i>&nbsp;Assign</button>
	<button class="btn btn-default" type="button" ng-click="close()">
		<i class="fa fa-times"></i>&nbsp;Close</button>
</div>