<div ng-if="ValidHeaderCrew()==true">
	<form class="form" id="workOrderForm" name="workOrderForm" novalidate>
		<div class="row">
			<div class="col-xs-12">
				<h1 class="pull-left">
					<i class="fa fa-lg fa-calculator"></i>
					<span> Technicians - Work Order</span>
				</h1>
				<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
					<button class="btn btn-primary update" ng-click="save(false, false, false)" ng-disabled="isDisabled()">
						<i class="fa fa-save"></i>&nbsp;
						<span>Save</span>
					</button>
					<button class="btn btn-primary update" ng-click="save(true, false, false)" ng-disabled="isDisabled()">
						<i class="fa fa-save"></i>&nbsp;
						<span>Completed</span>
					</button>
					<back-button></back-button>
				</div>
				<hr />
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="col-sm-4">
					<div class="col-xs-12 pull-left">
						<div class="form-group">
							<label for="Client">Client</label>
							<entitypicker ng-model="workOrder.client" ws-class="wsClass" ws-fields="wsFields" ws-filter="wsFilter" disable="true"></entitypicker>
						</div>
					</div>
					<div class="col-xs-12 pull-left">
						<div class="panel panel-default" ng-show="workOrder.client._id">
							<div class="panel-heading">{{workOrder.client.entity.fullName}}&nbsp;-&nbsp;{{workOrder.client.company.entity.name}}</div>
							<div class="panel-body">
								<p class="col-xs-12 text-left">
									<b>{{workOrder.client.branch.name}}</b>
									<br/>
									<p class="col-xs-12 text-left" ng-repeat="address in workOrder.client.branch.addresses track by $index">
										<i class="fa fa-map"></i>&nbsp;{{ address.address1 }},&nbsp;{{ address.city.description }},&nbsp;{{ address.state.description }},&nbsp;{{
										address.country.description }}
									</p>
								</p>
								<p class="col-xs-12 text-left" ng-repeat="phone in workOrder.client.branch.phones track by $index">
									<i class="fa fa-phone"></i>&nbsp;{{ phone.number }}
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 pull-left">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="row">
									<div style="float:left; padding-left: 10px">
										<select class="form-control" style="width: 220px; height: 30px" ng-model="item" data-ng-options="item as item.name for item in crewHeader"
										 ng-disabled="true">
											<option style="display:none" value="">Select a Crew Leader</option>
										</select>
									</div>
									<div style="float:left; padding-left:5px">
										<button type="button" class="btn btn-sm btn-primary update" ng-click="addCrewHeader(item)" ng-disabled="true">
											<i class="fa fa-plus"></i>
										</button>
									</div>
									<br>
									<br>
									<div ng-repeat="x in crewHeaderAdded track by $index">
										<div style="border: 1px white solid; margin-left:20px; font-size: 15px" class="col-sm-9">{{x.techId}}&nbsp;-&nbsp; {{x.name}}</div>
										<div style="border: 1px white solid; margin-left:10px" class="col-xs-1">
											<div class="pull-right">
												<button type="button" class="btn btn-danger btn-xs" ng-click="crewHeaderRemove($index)" ng-disabled="true">-</button>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-8">
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="sor">Work order #</label>
								<input type="text" name="sor" class="form-control" ng-model="workOrder.wor" ng-class="isChanged('wor')" ng-change="changed('wor');fillComment()"
								 validator="required" disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="invoiceNumber">Invoice #</label>
								<input type="text" name="invoiceNumber" class="form-control" ng-model="workOrder.invoiceNumber" ng-class="isChanged('invoiceNumber')"
								 ng-change="changed('invoiceNumber')" disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="status">Status</label>
								<select class="form-control" name="status" ng-model="workOrder.status" ng-class="isChanged('status')" ng-change="changed('status')"
								 ng-options="status as status.description for status in listStatus track by status._id" disabled="true" validator="required"></select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="date">Date</label>
								<sc-datepicker ng-model="workOrder.date" ng-class="isChanged('date')" ng-change="changed('date')" ng-disabled="true"></sc-datepicker>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="date">Serial #</label>
								<input type="text" class="form-control" ng-model="workOrder.unitno" ng-class="isChanged('unitno')" ng-change="changed('unitno')"
								 disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="originalShipDate">Completed Date</label>
								<sc-datepicker ng-model="workOrder.originalShipDate" ng-class="isChanged('originalShipDate')" ng-change="changed('originalShipDate')"
								 ng-disabled="true"></sc-datepicker>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="date">Unit Size</label>
								<input type="text" class="form-control" ng-model="workOrder.unitSize" ng-class="isChanged('unitSize')" ng-change="changed('unitSize')"
								 disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="pono">Contract #</label>
								<input type="text" class="form-control" ng-model="workOrder.isono" ng-class="isChanged('isono')" ng-change="changed('isono')"
								 disabled="true">
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="form-group">
								<label for="pono">PO #</label>
								<input type="text" name="pono" class="form-control" ng-model="workOrder.pono" ng-class="isChanged('pono')" ng-change="changed('pono')"
								 disabled="true">
							</div>
						</div>
						<div class="col-xs-12 pull-right">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="workOrder.clientResponsibleCharges" ng-class="isChanged('clientResponsibleCharges')" ng-change="changed('clientResponsibleCharges')"
									 id="clientResponsibleCharges" ng-disabled="isDisabled()"> Customer responsible for charges
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right">
							<div class="checkbox">
								<label>
									<input type="checkbox" ng-model="workOrder.partsFromTheYard" ng-class="isChanged('partsFromTheYard')" ng-change="changed('partsFromTheYard')"
									 id="partsFromTheYard" ng-disabled="isDisabled()"> Parts from the yard
								</label>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="col-xs-12 pull-right" ng-if="workOrder.partsFromTheYard">
							<div class="form-group">
								<label for="yardComment">Parts from the Yard</label>
								<textarea id="yardComment" ng-model="workOrder.yardComment" class="form-control">
							</textarea>
							</div>
						</div>
					</div>

					<div class="col-xs-12">
						<div class="btn btn-default" ngf-select="uploadFiles($files)" ngf-max-size="5MB" ngf-accept="'image/*'" multiple="multiple">Upload Photo(s) (5MB Max)</div>
					</div>
					<div class="col-xs-12">
						<label>Photos</label>
					</div>
					<div class="col-sm-3" ng-repeat="photo in workOrder.photos track by $index">
						<img class="img-rounded" style="width:120px" ng-src="{{photo.url}}" ng-click="showPicture($index)" disabled="true" />
						<button type="button" ng-click="removePhoto($index)" class="btn btn-sm btn-danger" disabled="true">
							<i class="fa fa-times"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<table class="table table-striped table-hover" width="100%" style="margin: 0 auto">
					<thead>
						<tr>
							<th width="10%">
								Code
							</th>
							<th width="20%" colspan="2">
								Group Code / Description
							</th>
							<th width="10%">
								Quantity
							</th>
							<th width="10%">

							</th>
							<th width="5%">

							</th>
							<th width="30%" style="text-align: left">
								Crew Leader
							</th>
							<th width="20%">
								
							</th>
							<th width="10%">
								<button type="button" class="btn btn-sm btn-primary update" ng-click="addItem()" ng-if="userData.role._id == 1" ng-disabled="true">
									<i class="fa fa-plus"></i>
								</button>
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="5">
								<entitypicker ng-model="params.item" ws-class="wsClassItem" ws-fields="wsFieldsItem" ws-filter="wsFilterItem" ws-label="'description'"
								 disable="isDisabled()" ng-change="getCrewleaders(params.item._id)" order-by="'code'"></entitypicker>
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-primary update" ng-click="addItem(params.item)" ng-disabled="!params.item._id">
									<i class="fa fa-plus"></i>
								</button>
							</td>
							<td>
								<select class="form-control" style="width: 280px" ng-model="item" ng-change="changedValue(item)" data-ng-options="item as item.name for item in addedItem"
								 ng-show="params.item.typeItem=='Labor'" ng-disabled="!params.item._id">
									<option style="display:none" value="">Select a Crew Leader</option>
								</select>
							</td>
							<td>
								<span>
									<b>Add from Collection</b>
								</span>
							</td>
							<td>
								<button type="button" class="btn btn-sm btn-primary update" ng-click="addItemCollection()" ng-disabled="isDisabled()">
									<i class="fa fa-list"></i>
								</button>
							</td>
						</tr>
						<tr ng-repeat="item in workOrder.items track by $index" ng-show="workOrder.client._id" ng-if="visibleRowTech(item._id)==true && workOrder.items[$index]._id != 5">
							<td>
								<input type="text" class="form-control" ng-model="item.code" ng-disabled="true">
							</td>
							<td ng-if="item.itemCollection._id" width="15%">
								{{item.itemCollection.description}}
							</td>
							<td colspan="{{ item.itemCollection._id ? '1' : '2' }}" width="15%">
								<input type="text" name="description{{$index}}" class="form-control" ng-model="item.description" ng-disabled="true" validator="required"
								 ng-class="isChanged('item')" ng-change="changed('item')">
							</td>
							<td>
								<input type="number" name="quantity{{$index}}" class="form-control" ng-model="item.quantity" ng-disabled="isDisabled()" validator="required"
								 step="0.01" ng-class="isChanged('item')" ng-change="changed('item')">
							</td>
							<td>
								<div ng-if="false">
									<input type="number" name="price{{$index}}" class="form-control" ng-model="item.price" ng-disabled="true" validator="required"
									 step="0.01" ng-class="isChanged('item')" ng-change="changed('item')">
								</div>
								<div ng-if="workOrder.status._id==3">
									<input type="number" name="price{{$index}}" class="form-control" ng-model="item.crewLeaderCol.price" ng-disabled="true" validator="required"
									 step="0.01" ng-class="isChanged('item')" ng-change="changed('item')">
								</div>
			</div>
			</td>
			<td>

			</td>
			<td>
				<input type="text" name="part{{$index}}" class="form-control" ng-model="item.crewLeaderCol.name" ng-disabled="true" ng-class="isChanged('item')"
				 ng-change="changed('item')">
			</td>
			<td>
				<input type="text" name="part{{$index}}" class="form-control" ng-model="item.part" ng-disabled="true" ng-class="isChanged('item')"
				 ng-change="changed('item')">
			</td>
			<td>
				<button type="button" class="btn btn-sm btn-danger update" ng-click="removeItem($index)" ng-disabled="isDisabled()">
					<i class="fa fa-times"></i>
				</button>
			</td>
			</tr>
			</tbody>
			</table>
		</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="col-sm-4 pull-left">
			<div class="form-group">
				<label for="comment">Issue</label>
				<textarea id="comment" ng-model="workOrder.issue" ng-disabled="true" class="form-control">
					</textarea>
			</div>
			<div class="form-group">
				<label for="comment">Comment</label>
				<textarea id="comment" ng-model="workOrder.comment" class="form-control">
					</textarea>
			</div>
		</div>
	</div>
</div>
</form>
</div>

<!-- invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice invoice-->

<div ng-if="ValidHeaderCrew()==false">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="pull-left">
				<i class="fa fa-lg fa-money"></i>
				<span>Mobile One</span>
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h1 class="pull-left">
				<span style="font-size: 20pt; margin-left: 15px">Word Order</span>
			</h1>
			<h1 class="pull-right">
				<span style="font-size: 20pt; margin-right: 15px" ng-show="RollID==4">Invoice #&nbsp;{{workOrder.wor}}&nbsp;-&nbsp; {{userData.techId}}</span>
			</h1>
		</div>
	</div>

	<div class="col-sm-5 pull-left">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>SERVICE PROVIDER</b>
			</div>
			<div class="panel-body">
				<b>Mobileone Restoration LLC</b>
				<br/> 1702 Bridget's Ct
				<br/> Kissimmee, FL. 34744
				<br/> mobileonerestorationllc@gmail.com
			</div>
		</div>
	</div>
	<div class="col-sm-7 pull-left">
		<div class="panel panel-default">
			<div class="panel-heading">
				<b>CUSTOMER</b>
			</div>
			<div class="panel-body">
				<b>{{workOrder.client.company.entity.name}}</b>
				<br/>
				<div style="font-size: 11px; font-family: Open Sans" ng-bind-html="address"></div>
				<b>
					<div style="font-weight: normal">{{workOrder.client.account.email}}</div>
				</b>
			</div>
		</div>
	</div>

	<div class="col-sm-12 pull-left">
		<div class="panel panel-default">
			<div class="panel-heading" style="height: 30px">
				Project Description:
			</div>
			<div class="panel-body">
				<div ng-if="workOrder.comment != ''">1-&nbsp;{{workOrder.comment}}</div>
			</div>
		</div>
	</div>

	<div class="col-sm-12 pull-left">
		<div class="panel panel-default">
			<div class="panel-heading" style="height: 30px">
				<table width="100%" style="border: 0px Red solid">
					<thead>
						<tr>
							<th width="10%">
								Code
							</th>
							<th width="40%" colspan="2">
								Description
							</th>
							<th width="10%">
								
							</th>
							<th width="15%">
								Cost per Unit
							</th>
							<th width="10%">
								Qty
							</th>
							<th width="15%" style="text-align: right; padding-right: 10px">
								Total
							</th>
						</tr>
					</thead>
				</table>
			</div>
			<div class="panel-body">
				<table class="table" width="100%">
					<tbody>
						<tr ng-repeat="item in workOrder.items track by $index" style="border-top: 1px white solid">
							<th width="10%" style="font-weight: normal" ng-if="item.crewLeaderCol.techId == getTechId()">
								{{item.code}}
							</th>
							<th width="40%" style="font-weight: normal" ng-if="item.crewLeaderCol.techId == getTechId()">
								{{item.description}}
							</th>
							<th width="10%" style="font-weight: normal" ng-if="item.crewLeaderCol.techId == getTechId()">
							
							</th>
							<th width="15%" style="font-weight: normal; text-align: left; padding-left: 25px" ng-if="item.crewLeaderCol.techId == getTechId()">
								{{item.crewLeaderCol.price | currency}}
							</th>
							<th width="10%" style="font-weight: normal;" ng-if="item.crewLeaderCol.techId == getTechId()">
								{{item.quantity}}
							</th>
							<th width="15%" style="text-align: right; font-weight: normal" ng-if="item.crewLeaderCol.techId == getTechId()">
								{{item.quantity * item.crewLeaderCol.price | currency}}
							</th>
						</tr>
					</tbody>
				</table>
				<table class="table" width="100%">
					<tbody>
						<tr style="border-top: 1px white solid">
							<th width="10%">

							</th>
							<th width="40%">

							</th>
							<th width="10%">

							</th>
							<th width="15%">

							</th>
							<th width="10%">
								<b>Total :</b>
							</th>
							<th width="15%" style="text-align: right; font-weight: normal">
								<b>
									<div>{{Total() | currency}}</div>
								</b>
							</th>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="col-sm-14 pull-center">
			<div class="panel panel-default">
				<div class="panel-heading" style="height: 30px; font-weight: bold">
					ADDRESS:
				</div>
				<div class="panel-body">
					<div ng-repeat="address in workOrder.client.branch.addresses track by $index">
						{{ address.address1 }},&nbsp;{{ address.city.description }},&nbsp;{{ address.state.description }},&nbsp;{{ address.zipcode
						}}
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-14 pull-center">
			<div class="panel panel-default">
				<div class="panel-body" style="height: 60px">
					<table class="table" width="100%">
						<tbody>
							<tr>
								<th width="10%">
									Location
								</th>
								<th width="90%">
									{{workOrder.client.branch.name}}
								</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>