<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-user"></i> <span> User</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary update" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Save</span></button>
				<button type="button" class="btn btn-danger" ng-click="delete()" ng-if="user._id && userData.role._id == 1">
					<i class="fa fa-trash"></i>&nbsp;<span>Delete</span>
				</button>
			<button type="button" class="btn btn-default update" ng-click="userData.changePassword()" ng-if="userData._id == user._id"><i class="fa fa-save"></i>&nbsp;<span>Change Password</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="userForm" name="userForm">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" ng-model="user.entity.firstName" id="firstName" placeholder="First Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" ng-model="user.entity.lastName" id="lastName" placeholder="Last Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" ng-model="user.account.email" id="email" placeholder="Email">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">URL / Website</label>
				<input type="text" class="form-control" ng-model="user.entity.url" id="url" placeholder="URL / Website">
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="userData.role._id == 1" >
			<div class="form-group">
				<label for="role">Role</label>
				<select class="form-control" ng-model="user.role" id="role" ng-options="role as role.description for role in roles track by role._id" ng-change="getTechId()"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 3">
			<div class="form-group">
				<label for="role">Company</label>
				<select class="form-control" ng-model="user.company" id="role" ng-options="company as company.entity.name for company in companies track by company._id" ng-change="getBranches(user.company)" ng-disabled="userData.role._id != 1"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 3 && user.company">
			<div class="form-group">
				<label for="isRegionalManager">Is Regional Manager</label>
				<input type="checkbox" class="form-control" ng-model="user.isRegionalManager" id="isRegionalManager">
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 3 && user.company">
			<div class="form-group">
				<label for="showDueDates">Hide Due Dates</label>
				<input type="checkbox" class="form-control" ng-model="user.hideDueDates" id="showDueDates">
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 3 && user.company">
			<div class="form-group">
				<label for="branch">Branch</label>
				<select class="form-control" ng-model="user.branch" id="branch" ng-options="branch as branch.name for branch in branches track by branch._id" ng-disabled="userData.role._id != 1"></select>
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 4">
			<div class="form-group">
				<label for="techId">Tech Id</label>
				<input type="number" class="form-control" ng-model="user.techId" id="techId" min="1" ng-disabled="true">
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 4">
			<div class="form-group">
				<label for="techId">Specialty</label>
				<input type="text" class="form-control" ng-model="user.specialty" id="specialty" >
			</div>
		</div>
		<div class="col-xs-12 col-md-6" ng-if="user.role._id == 4">
			<div class="form-group">
				<label for="category">Category:</label>
				<select class="form-control" ng-model="user.category" id="category">
					<option ng-repeat="category in categories">{{category}}</option>
				</select>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" ng-if="user.role._id == 4">
			<div class="form-group">
				<label for="name">Phone (Mobile)</label>
				<phone-model hide-labels="true" ng-model="user.phone"></phone-model>
			</div>
		</div>
		<div class="col-xs-12 col-md-12" ng-if="user.role._id == 4">
			<label for="address">Address</label>
			<address-model id="address" ng-model="user.address" ></address-model>
		</div>
	</form>
</div>
