<div class="row">
	<div class="col-xs-12">
		<h1 class="pull-left">
			<i class="fa fa-lg fa-user"></i> <span> User</span>
		</h1>
		<div class="btn-group pull-right" style="margin-top: 20px;" role="group" aria-label="...">
			<button type="submit" form="userForm" class="btn btn-primary update" ng-click="save()"><i class="fa fa-save"></i>&nbsp;<span>Save</span></button>
			<back-button></back-button>
		</div>
		<hr />
	</div>
</div>
<div class="col-xs-12 col-md-6">
	<form class="form" id="userForm" name="userForm">
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="firstName">First Name</label>
				<input type="text" class="form-control" ng-model="user.entity.firstName" id="firstName" placeholder="First Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="lastName">Last Name</label>
				<input type="text" class="form-control" ng-model="user.entity.lastName" id="lastName" placeholder="Last Name">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" class="form-control" ng-model="user.account.email" id="email" placeholder="Email">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="url">URL / Website</label>
				<input type="url" class="form-control" ng-model="user.entity.url" id="url" placeholder="URL / Website">
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="form-group">
				<label for="role">Role</label>
				<select class="form-control" ng-model="user.role" id="role" ng-options="role as role.description for role in roles track by role._id"></select>
			</div>
		</div>
		
		<div class="col-xs-12">
			<h2 class="pull-left"><i class="fa fa-map"></i>&nbsp;Addresses</h2>
			<button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:20px" ng-click="addAddress()"><i class="fa fa-plus"></i></button>
		</div>
		<div class="col-xs-12" ng-repeat="address in user.addresses track by $index">
			<div class="col-xs-12">
				<button type="button" class="btn btn-sm btn-danger pull-right" style="margin-top:20px;" ng-click="removeAddress($index)"><i class="fa fa-minus"></i></button>
			</div>
			<address-model ng-model="user.addresses[$index]"></address-model>
		</div>
		<div class="col-xs-12">
			<h2 class="pull-left"><i class="fa fa-phone"></i>&nbsp;Phone List</h2>
			<button type="button" class="btn btn-sm btn-primary pull-right" style="margin-top:20px" ng-click="addPhone()"><i class="fa fa-plus"></i></button>
		</div>
		<div class="col-xs-12" ng-repeat="phone in user.phones track by $index">
			<div class="col-xs-12">
				<button type="button" class="btn btn-sm btn-danger pull-right" style="margin-top:20px;" ng-click="removePhone($index)"><i class="fa fa-minus"></i></button>
			</div>
			<phone-model ng-model="user.phones[$index]"></phone-model>
		</div>
	</form>
</div>
